{% extends 'base.html' %}

{% block title %}Блог{% endblock %}

{% block content %}
    <h1>Мой блог</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">« Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая »</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}